<div class="container">
<%= render partial: 'common/messages', locals: {err: @symptom.errors} %>
<%= render partial: 'common/modal' %>

<%= render partial: 'common/canvas' %>
  
<%= nested_form_for([current_user,@symptom]) do |f| %>
  <%= render partial: 'common/details', locals: {form: f} %>

  <div style="clear:both"></div>
  <div class="col-xs-12 col-md-4">
      <%= f.submit '更新', id: 'register', class: 'btn btn-primary btn-lg btn-block', data: { disable_with: '更新中' } %>
  </div>
<% end %>
</div>
