<% now = Time.now %>
<script>
  function a(){
    alert("start a")
    window.NestedFormEvents.addFields
  }
</script>

<div class="page-header">
  今の症状を登録します
</div>
<a href="javascript:a();">aaa</a>

<style>
  input[value="head"].kurasu {
    background-image:url(<%= asset_path 'head.png' %>);
    width:150px;
    height:50px;
  }
  .symptom-level {
    /** -webkit-appearance: slider-vertical; */
    display: inline !important;
    width:100px !important;
  }
  .left{
    float:left;
  }
  .right{
  }
  .panel{
    float:left;
    width:310px;
  }

</style>

<%= nested_form_for(@symptom) do |f| %>
  <div class="form-group">
    <%= f.label :time_symptoms %>
    <div>
      <%= f.datetime_local_field :time_symptoms %>
    </div>
  </div>
  <% if @symptom.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <% @symptom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- add tech by canvas -->
  <div id="canvas"></div>

  <!-- hidden buttons !!!important don't remove this !!! -->
  <%= render :partial => "link_to_add", :locals => { :p => 'head',:form => f } %>

  <div id="symptoms">
    <%= f.fields_for :details, wrapper: false %>
  </div>

  <div style="clear:both"></div>
  <%= f.submit '登録', class: 'btn btn-default', data: { disable_with: '作成中' } %>
<% end %>

