<div class="container">

<div class="description">
    下記の人体図をクリックして症状を入力、記録して下さい。<BR>
</div>

<%= render partial: 'common/messages', locals: {err: @symptom.errors} %>
<%= render partial: 'common/modal' %>

<%= render partial: 'common/canvas' %>
  
<%= nested_form_for([current_user,@symptom]) do |f| %>

  <%= render partial: 'common/details', locals: {form: f} %>

  <div style="clear:both"></div>
  <%= f.submit '記録', id: 'register', class: 'btn btn-primary btn-lg btn-block', data: { disable_with: '作成中' } %>
<% end %>

</div>
