<% now = Time.now %>

<div class="page-header">
  今の症状を登録します
</div>

<style>
  input.kurasu{
    display:block;
    width:50px;
    height:50px;
    text-align:center;
    padding-bottom:28px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border-style:solid;
  }

  input[value="head"].kurasu {background-image:url(<%= asset_path 'head.png' %>);}
  input[value="body"].kurasu {background-image:url(<%= asset_path 'head.png' %>);}

  .symptom-level {
    /** -webkit-appearance: slider-vertical; */
    display: inline !important;
    width:100px !important;
  }
  .left{
    float:left;
  }
  .right{
  }
  .panel{
    float:left;
    width:310px;
  }

</style>

<%= nested_form_for(@symptom) do |f| %>
  <div class="form-group">
    <%= f.label :time_symptoms %>
    <div>
      <%= f.datetime_local_field :time_symptoms %>
    </div>
  </div>
  <% if @symptom.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <% @symptom.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- add tech by canvas -->
  <canvas id="all-over" width="135" height="231"></canvas>

  <!-- hidden buttons !!!important don't remove this !!! -->
  <div id="form-add" style="visibility: hidden;">
    <%= f.link_to_add "", :details, "data-target" => "#symptoms" %>
  </div>

  <div id="symptoms">
    <%= f.fields_for :details, wrapper: false %>
  </div>

  <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="dialogHeader" aria-hidden="true"> 
    <div class="modal-dialog"> 
      <div class="modal-content"> 
        <div class="modal-header"> 
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
          <h4 class="modal-title" id="dialogHeader"></h4> 
        </div> 
      <div class="modal-body"> 
        <input type=hidden value="" id="modal-x"/>
        <input type=hidden value="" id="modal-y"/>
        <input type=hidden value="" id="modal-part"/>
        <input type="range" id="modal-level" min=1 max=5 value=2>
        <%= select_tag 'modal-kinds', options_for_select(SymptomDetail.kinds.collect {|s| [s[0].humanize, s[0]] }) %>
        <input type="textarea" id="modal-memo">
      </div> 
      <div class="modal-footer"> 
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="add-symptom">追加</button>
      </div> 
      </div> 
    </div> 
  </div> 

  <div style="clear:both"></div>
  <%= f.submit '登録', id: 'register', class: 'btn btn-default', data: { disable_with: '作成中' } %>
<% end %>

