<div class="container">

<div class="description">
    下記の人体図をクリックして症状を記録して下さい。<BR>
    <BR>
    記録した症状は全て公開されます。<BR>
    ご理解の上、ご利用ください。<BR>
</div>

<%= render partial: 'common/messages', locals: {err: @symptom.errors} %>
<%= render partial: 'common/modal' %>

<%= render partial: 'common/canvas' %>
  
<%= nested_form_for([current_user,@symptom]) do |f| %>

  <%= render partial: 'common/details', locals: {form: f} %>

  <div style="clear:both"></div>
  <%= f.submit '登録', id: 'register', class: 'btn btn-default', data: { disable_with: '作成中' } %>
<% end %>

</div>
