<div class="">
  <h1>
    <%= @symptom.owner.nickname %>さんの症状
  </h1>
  <div class="">
    <%= @symptom.created_at %>
  </div>
</div>

<div class="">
  症状ID：<%= @symptom.id %> - <%= @symptom.symptom_id %>
</div>

<canvas id="all-over" width="135" height="231">
  <%= image_tag @symptom.symptom_image.url, :id => "point", :style => "display:none;" %>
</canvas>

<% @symptom.details.each do |s| %>
<div class="">
    <span class="">
      kind -> <%= s.kind %>
    </span>
    <span class="">
      part -> <%= s.part %>
    </span>
    <span class="">
      level -> <%= s.level %>
    </span>
</div>
<% end %>
