<div class="">
  <h1>
    <%= @symptom.owner.nickname %>さんの症状
  </h1>
  <div class="">
    <%= @symptom.created_at %>
  </div>
</div>

<div class="">
  症状ID：<%= @symptom.id %> - <%= @symptom.symptom_id %>
</div>

<canvas id="all-over" width="135" height="231">
</canvas>

<% @symptom.details.each do |s| %>
<div class="">
    <span class="">
      part -> <%= s.part %>
    </span>
    <span class="">
      kind -> <%= s.kind %>
    </span>
    <span class="">
      level -> <%= s.level %>
    </span>
    <span class="">
      point(<%= s.x %>, <%= s.y %>)
    </span>
</div>
<% end %>




-----------
<%= nested_form_for(@symptom) do |f| %>
  <div id="symptoms">
    <%= f.fields_for :details, wrapper: false %>
  </div>
<% end %>
