<div class="page-header">
  へんシューして下さい。
</div>

<%= link_to '削除', progress_path(@progress), method: :delete, data:{ confirm: '本当に削除しますか？'}%>
<%= render partial: "shared/messages", locals: {err: @progress.errors} %>
<%= render partial: "shared/modal" %>

<%= render partial: "shared/canvas" %>
  
<%= nested_form_for(@progress) do |f| %>

  <div class="form-group">
    <%= f.datetime_local_field :progress_at %>
  </div>

  <%= render partial: "shared/details", locals: {form: f} %>

  <div style="clear:both"></div>
  <%= f.submit '登録', id: 'register', class: 'btn btn-default', data: { disable_with: '作成中' } %>
<% end %>

