<div class="">
  <h1>
    <%= @progress.user.nickname %>さんの症状
  </h1>
  <div class="">
    <%= @progress.created_at %>
  </div>

  <%= link_to(@progress.user) do %>
    ユーザをみる
  <% end %>

</div>

<%= render partial: "shared/canvas" %>
<%= render partial: "shared/drawPoint", locals: {data: @progress} %>
<%= render partial: "shared/showDetails", locals: {data: @progress} %>

