<div class="">
  <h1>
    <%= @progress.user.nickname %>さんの症状
  </h1>
  <div class="">
    <%= @progress.created_at %>
  </div>

  <%= link_to(@progress.user) do %>
    ユーザをみる
  <% end %>

</div>

<div class="">
  症状ID：<%= @progress.sick_id %> - <%= @progress.id %>
</div>


<%= render partial: "shared/canvas" %>
<%= render partial: "shared/drawPoint", locals: {data: @progress} %>

<% @progress.parts.each do |s| %>
<div class="">
  <%= hidden_field :s, :x %>
  <%= hidden_field :s, :y %>
  <%= s.memo %>
</div>
<% end %>

