<div class="">
  <h3>
    <%= link_to(@sick.owner) do %>
      <%= @sick.owner.nickname %>
    <% end %>
    さんの症状
  </h3>
  <div class="">
    <%= @sick.progresses.first.progress_at.strftime('%Y/%m/%d %H:%M') %>〜
    <% unless @sick.still_sick? %>
      <%= @sick.progresses.last.progress_at.strftime('%Y/%m/%d %H:%M') %>
    <% end %>
  </div>
  <div class="">
    <% if @sick.created_by?(current_user) %>
      <% if @sick.still_sick? %>
        <button
          class="btn btn-primary btn-sm"
          rel="popover" 
          data-title="治ったボタン"
          data-content="治ったことを皆に知らせて、治療方法を登録します。"
          data-placement="right"
          data-trigger="hover"
          data-toggle="modal"
          data-target="#recover_completely">
          治った
        </button>
        <%= render partial: "modalComplete" %>
      <% end %>
      <%= link_to '削除', sick_path(@sick), method: :delete, data:{ confirm: '本当に削除しますか？'}%>
    <% end %>
  </div>

  <!-- TODO #92 -->
  <% if @sick.recover_completely? %>
    <%= @sick.recover_completely_comment %> したら、完治しましたよ。
  <% end %>

</div>

<%= paginate @progresses %> 
<% @progresses.each do |progress| %>
  <div style="display:none;" class="">
    <%= render partial: "shared/canvas" %>
    <%= render partial: "shared/drawPoint", locals: {data: progress} %>
  </div>

  <div style="clear:both">
    <%= progress.progress_at.strftime('%Y/%m/%d %H:%M') %>
    <% if @sick.created_by?(current_user) %>
      <%= link_to '編集', edit_progress_path(progress)%>
    <% end %>
  </div>
  <%= render partial: "shared/showDetails", locals: {data: progress} %>

  <div style="clear:both"></div>
  
<% end %>

<div id="comments">
  <ul class="media col-xs-12">
  <% @comments.each do|comment| %>
    <li>
      <div class="pull-left">
        <%= image_tag comment.comment_by_user.image_url %>
      </div>
      <h4>
        @<%= comment.comment_by_user.nickname %><br/>
        <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %> 
      </h4>
      <% if comment.created_by?(current_user) %>
        <%= link_to  sick_sick_comment_path(@sick,comment), method: :delete, data:{ confirm: 'コメントを削除しますか？'} do %>
          <i class="glyphicon glyphicon-trash"></i>
        <% end %>
      <% end %>
      <% if comment.is_owner_comment? %>
        これは、オーナーのコメントですよ。
      <% end %>
      <%= comment.contents %> 
    </li>
  <% end %>
  </ul>
</div>

<div id="comment">
  <div class="form-group col-xs-6">
    <%= form_for(@sick.sick_comments.build, url: sick_sick_comments_path(@sick), remote:true) do |sf| %>
      <%= sf.text_area :contents, :class => 'modal-comment form-control', :rows => 6, :placeholder => 'コメントを入力'  %>
      <%= sf.submit 'コメントする', class: 'btn btn-lg btn-primary btn-block', data: { disable_with: '送信中' } %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
$(function() {
      $('[rel=popover]').popover();
});
</script>
