<div class="">
  <%=@user.nickname%>
</div>

<%= form_for(@user) do |f| %>

  <div class="form-group">
    <%= f.label :birth %>
    <%= f.date_field :birth, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :sex %>
    <%= f.text_field :sex %>
  </div>

  <%= f.submit '変更！', :class => 'btn btn-primary'%>
  <%= button_to '退会する', user_path(@user), method: :delete, :class => 'btn btn-danger', data:{ confirm: '本当に退会しますか？'}%>
<% end %>

