<!-- hidden buttons !!!important don't remove this !!! -->
<div id="form-add" style="visibility: hidden;">
  <%= form.link_to_add "", :parts, "data-target" => "#parts" %>
</div>

<!--
<div id="parts">
  <%= form.fields_for :parts do |f|%>
    <div class="media col-xs-12 col-sm-4">
      <%= f.hidden_field :x, :class => 'pointX' %>
      <%= f.hidden_field :y, :class => 'pointY' %>
      <div class="pull-left">
        <div style="width:50px">
          <%= f.link_to_remove :class => 'close' do %>&times;<% end %>
          <%= f.text_field :part, :class => 'progress-part', :readonly => true %>
        </div>
        <canvas class="progress-canvas" width="50" height="50"></canvas>
      </div>
      <div class="media-body">


        <div class="form-group">
          <span class="progress-kind">
            <%= f.select :kind, options_for_select( Part.kinds.collect{ |s| [s[0].humanize, s[0]] } ,:selected => f.object.kind ) %>
          </span>
          <%= f.range_field :level,:in => 1..5, :step => '1', :class => 'progress-level' %>
        </div>
        <div class="form-group">
          <%= f.text_area :memo, :class => 'progress-memo' %>
        </div>
      </div>

    </div>
  <% end %>
</div>
-->


<div id="parts">
  <%= form.fields_for :parts do |f|%>
    <div class="panel panel-default">
      <%= f.hidden_field :x, :class => 'pointX' %>
      <%= f.hidden_field :y, :class => 'pointY' %>
      <div class="panel-heading" style="height:70px">

        <div class="pull-left">
          <canvas class="progress-canvas" width="50" height="50"></canvas>
        </div>
        
        <%= f.link_to_remove :class => 'close' do %>&times;<% end %>
        <%= f.text_field :part, :class => 'progress-part', :readonly => true %>
      </div>
      <div class="panel-body" style="">
        <div class="form-group">
          <%= f.select :kind, options_for_select( Part.kinds.collect{ |s| [s[0].humanize, s[0]] } ,:selected => f.object.kind ), {}, { :class => 'progress-kind form-control' } %>
        </div>
        <div class="form-group">

          <%= f.text_field :level, :class => 'progress-level',  data: {
            'slider-min' => "1", 'slider-max' => "5", 'slider-step' => "1"} %>

        </div>
        <div class="form-group">
          <%= f.text_area :memo, :class => 'progress-memo form-control', :rows => 5 %>
          <p class="help-block">あとX文字入力できます。</p>
        </div>
        
        <div class="form-group">

        <input class="ex1" type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>

        </div>
      </div>

    </div>
  <% end %>
</div>

