
<% @symptoms.each do |symptom| %>
  <div style="display:none;" class="">
    <%= render partial: 'common/canvas' %>
    <%= render partial: 'common/drawPoint', locals: {user: symptom.user, data: symptom} %>
  </div>

  <div class="pull-left">
    <%= image_tag symptom.user.image_url, :class => 'original-icon' %>
  </div>
  <div class="">
      <%= link_to user_path(symptom.user) do %>
          <%= symptom.user.nickname %>
      <% end %>
      さんが新しい症状を登録しました。
  </div>
  <%= symptom.created_at.strftime('%Y/%m/%d %H:%M') %>
  <div style="clear:both"></div>
  <%= render partial: 'common/showDetails', locals: {data: symptom} %>

  <div style="clear:both"></div>
  
<% end %>
