<div class="page-header">
  <h1>煩ってる人達、最近登録された症状の一覧。</h1>
</div>

<% @symptoms.each do |symptom| %>
  <div style="display:none;" class="">
    <%= render partial: "canvas" %>
    <%= render partial: "drawPoint", locals: {user: symptom.user, data: symptom} %>
  </div>

  <div class="pull-left">
    <%= image_tag symptom.user.image_url %>
  </div>
  <%= link_to user_symptoms_path(symptom.user) do %>
    <%= symptom.user.nickname %>
  <% end %>
  <%= symptom.created_at.strftime('%Y/%m/%d %H:%M') %>
  <div style="clear:both"></div>
  <%= render partial: "showDetails", locals: {data: symptom} %>

  <div style="clear:both"></div>
  
<% end %>
