<!-- hidden buttons !!!important don't remove this !!! -->
<div id="form-add" style="visibility: hidden;">
  <%= form.link_to_add "", :parts, "data-target" => "#parts" %>
</div>

<div id="parts">
  <%= form.fields_for :parts do |f|%>
    <div class="media col-xs-12 col-sm-6 col-md-4">

      <%= f.link_to_remove :class => 'btn btn-danger btn-lg' do %>×<% end %>
      <div class="pull-right">
        <canvas class="progress-canvas" width="150" height="150"></canvas>
      </div>

      <div class="form-group">
        <%= f.hidden_field :front_or_back, :class => 'frontOrBack' %>
        <%= f.hidden_field :x, :class => 'pointX' %>
        <%= f.hidden_field :y, :class => 'pointY' %>
        <%= f.text_area :memo, :class => 'progress-memo form-control', :rows => 5 %>
      </div>
        
    </div>
  <% end %>
</div>

