<div class="page-header">
  今の症状を登録します
</div>

<%= render partial: "messages", locals: {err: @progress.errors} %>
<%= render partial: "modal" %>

<%= render partial: "shared/canvas" %>
  
<%= nested_form_for(@progress) do |f| %>

  <%= f.select 'sick_id', options_for_select(@still_sicks.map {|s| [s.label||s.created_at, s.id]}), :include_blank => true %>
  <div class="form-group">
    <%= f.datetime_local_field :progress_at %>
  </div>
  <div class="form-group">
    <%= text_field :sick, :label %>
  </div>

  <%= render partial: "details", locals: {form: f} %>

  <div style="clear:both"></div>
  <%= f.submit '登録', id: 'register', class: 'btn btn-default', data: { disable_with: '作成中' } %>
<% end %>

