<div class="">
  <h3>
    <%= link_to(@sick.owner) do %>
      <%= @sick.owner.nickname %>
    <% end %>
    さんの症状
  </h3>
  <div class="">
    <%= @sick.progresses.first.progress_at.strftime('%Y/%m/%d %H:%M') %>〜
    <% unless @sick.still_sick? %>
      <%= @sick.progresses.last.progress_at.strftime('%Y/%m/%d %H:%M') %>
    <% end %>
  </div>
  <div class="">
    <% if @sick.still_sick? && @sick.created_by?(current_user) %>
      <button
        class="btn btn-primary btn-sm"
        rel="popover" 
        data-title="治ったボタン"
        data-content="治ったことを皆に知らせて、治療方法を登録します。"
        data-placement="right"
        data-trigger="hover"
        data-toggle="modal"
        data-target="#recover_completely">
        治った
      </button>
      <%= render partial: "modalComplete" %>
    <% end %>
  </div>



  <% if @sick.recover_completely? %>
    <%= @sick.recover_completely_comment %> したら、完治しましたよ。
  <% end %>

</div>

<%= paginate @progresses %> 
<% @progresses.each do |progress| %>
  <div class="">
    <% if @sick.created_by?(current_user) %>
      <%= link_to '編集', edit_progress_path(progress), :class => 'btn btn-default btn-sm'%>
    <% end %>
  </div>
  <div style="display:none;" class="">
    <%= render partial: "shared/canvas" %>
    <%= render partial: "shared/drawPoint", locals: {data: progress} %>
  </div>
    <%= render partial: "shared/showDetails", locals: {data: progress} %>
  
<% end %>
  <div class="btn-group col-xs-12">
  <button class="btn btn-default btn-block" data-toggle="modal" data-target="#comment">
    コメントする
  </button>
</div>


<%= render partial: "modalComment" %>

<% @comments.each do|comment| %>
  <div><%= comment.id %><%= comment.comment_by_user.nickname %> :<%= comment.contents %></div>
<% end %>

<script type="text/javascript">
$(function() {
      $('[rel=popover]').popover();
});
</script>
