<div class="">
  <h1>
    <%= @sick.owner.nickname %>さんの「<%= @sick.label %>」
  </h1>
  <div class="">
    <%= @sick.created_at %>
    <%= @sick.status %>
  </div>

  <%= link_to(@sick.owner) do %>
    ユーザをみる
  <% end %>

  <!-- TODO modalにしてどうやったら完治したのかを書く -->
  <% if @sick.created_by?(current_user) & @sick.still_sick? %>
   <button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#recover_completely">
    完治しました
   </button>
<div class="modal fade" id="recover_completely" tabindex="-1" role="dialog" aria-labelledby="dialogHeader" aria-hidden="true"> 
  <div class="modal-dialog"> 
    <div class="modal-content"> 
      <div class="modal-header"> 
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
        <h4 class="modal-title" id="dialogHeader">何をしたら完治したか教えて下さい。</h4> 
      </div> 
    <div class="modal-body"> 
      <%= form_for(@sick) do |f| %>
        <%= f.text_area :recover_completely_comment %>
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <%= f.submit 'なおりました。',  class: 'btn btn-default', data: { disable_with: '作成中' } %>
      <% end %>
    </div> 
    </div> 
  </div> 
</div>
  <% end %>


  <% if @sick.recover_completely? %>
    <%= @sick.recover_completely_comment %> したら、完治しましたよ。
  <% end %>

</div>

<%= paginate @progresses %> 

<% @progresses.each do |progress| %>
  <div class="">
    <%= render partial: "shared/canvas" %>
    <%= render partial: "shared/drawPoint", locals: {data: progress} %>

    <%= link_to '編集する', edit_progress_path(progress) %>

    <% progress.parts.each do |s| %>
    <div class="">
        <span class="part-<%=s.part%>">
          part -> <%=s.part%>
        </span>
        <span class="">
          kind -> <%= s.kind %>
        </span>
        <span class="">
          level -> <%= s.level %>
        </span>
        <span class="">
          <%= hidden_field :s, :x %>
          <%= hidden_field :s, :y %>
        </span>
    </div>
    <% end %>
  </div>
<% end %>


<button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#comment">
  コメントする or アドバイスする
</button>
<div class="modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="dialogHeader" aria-hidden="true"> 
  <div class="modal-dialog"> 
    <div class="modal-content"> 
      <div class="modal-header"> 
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
        <h4 class="modal-title" id="dialogHeader">もだるたいとる</h4> 
      </div> 
      <div class="modal-body"> 
        <%= form_for(@sick.sick_comments.build, url: sick_sick_comments_path(@sick), remote:true) do |sf| %>
          <%= sf.text_area :contents %>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <%= sf.button 'コメントする', class: 'btn btn-default', data: { disable_with: '作成中' } %>
        <% end %>
      </div> 
    </div> 
  </div> 
</div>

<% @comments.each do|comment| %>
  <div><%= comment.id %> ん？<%= comment.comment_by_user.nickname %> :<%= comment.contents %></div>
<% end %>
どうして、最後に空のcommentがループされるんだろ？

